<%= form_for(@message) do |f| %>
  <%= f.label :send_to %>
  <%= f.collection_select :send_to, Office::DIVISIONS, :to_s, :to_s, 
       :include_blank => false, html: { multipart: true } %>
  <br />
  <%= f.label :subject %>
  <%= f.text_field :subject %>
  <br />
  <%= f.label :attachment %>
  <%= f.file_field :avatar %>
  <%= f.hidden_field :avatar_cache %>
  <br />
  <%= f.label :notes %>
  <%= f.text_field :notes %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
