<% if user_signed_in? %>
<p>Welcome, <%= current_user.first_name %> <%= current_user.last_name %></p>
  <li>
  <%= link_to('Edit registration', edit_user_registration_path) %>
  </li>
  <% if current_user.admin_check == true %>
  <li>
  <%= link_to('Manage Users', '/manage') %>
  </li>
  <% end %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %> 
  </li>
  <h1> Inbox </h1>
  <body>
    <table style="width:100%">
      <tr>
        <th>Time Left</th>
        <th>Date Received</th>
        <th>From</th>
        <th>Subject</th>
      </tr>
      <% @messages.each do |message| %>
      <tr>
        <td>Countdown lang po dito ser</td>
        <td><%= message.date_received %></td>
        <td><%= message.received_from %></td>
        <td><%= message.subject %></td>
        <td><%= link_to 'Delete', message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    <% end %>

<% else %>
  <li>
  <%= link_to('Register', new_user_registration_path)  %>
  </li>
  <li>
  <%= link_to('Login', new_user_session_path)  %>  
  </li>
<% end %>