<% if user_signed_in? %>
<p>Welcome, <%= current_user.first_name %> <%= current_user.last_name %></p>
  <li>
  <%= link_to('Edit registration', edit_user_registration_path) %>
  </li>
  <% if current_user.admin_check == true %>
  <li>
  <%= link_to('Manage Users', '/manage') %>
  </li>
  <% end %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
  </li>
  <h1> Sent </h1>
  <body>
    <table style="width:100%">
      <tr>
        <th>To</th>
        <th>Date Sent</th>
        <th>Control ID</th>
        <th>Subject</th>
      </tr>
    <% @messages.each do |message| %>
      <tr>
        <td><%= message.sent_to %></td>
        <td><%= message.date_sent %></td>
        <td><%= message.id %></td>
        <td><%= link_to message.subject, user %></td>
      </tr>
    <% end %>
<% else %>
  <li>
  <%= link_to('Register', new_user_registration_path)  %>
  </li>
  <li>
  <%= link_to('Login', new_user_session_path)  %>  
  </li>
<% end %>