<% if user_signed_in? %>
<p>Welcome, <%= current_user.first_name %> <%= current_user.last_name %></p>
  <li>
  <%= link_to('Edit registration', edit_user_registration_path) %>
  </li>
  <% if current_user.admin_check == true %>
  <li>
  <%= link_to('Manage Users', '/manage') %>
  </li>
  <% end %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
  </li>
<p id="notice"><%= notice %></p>
<p>Deadline: <%= @message.deadline %></p>
<p>From: <%= @message.received_from %></p>
<p>Subject: <%= @message.subject %></p>
<p> HERE LIE ATTACHMENTS </p>
<p> HERE LIE NOTES </p>
<%= link_to 'View History', history_message_path(@message) %>
<% if current_user.admin_check == true %>
<%= link_to 'Close/Unclose', edit_user_path(@message) %>
<% end %> |
<%= link_to 'Reply (WP)', users_path %>
<% else %>
  <li>
  <%= link_to('Register', new_user_registration_path)  %>
  </li>
  <li>
  <%= link_to('Login', new_user_session_path)  %>  
  </li>
<% end %>