<% if user_signed_in? %>
  <li>
  <%= link_to('Edit registration', edit_user_registration_path) %>
  </li>, 
  <li>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
  </li>
  <h1> Inbox </h1>
  <body>
    <table style="width:100%">
      <tr>
        <td>Time Left</td>
        <td>Date Received</td>
        <td>From</td>
        <td>Subject</td>
      </tr>
    <% @messages.each do |message| %>
      <tr>
        <td><%= user.last_name %>, <%= user.first_name %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
<% else %>
  <li>
  <%= link_to('Register', new_user_registration_path)  %>
  </li>, 
  <li>
  <%= link_to('Login', new_user_session_path)  %>  
  </li>
<% end %>