<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @offices.each do |office| %>
    <th><%= office.office_name %>
      <% @offices.users.each do |user| %>
      <tr>
        <td><%= user.last_name %>, <%= user.first_name %></td>
        <td><%= link_to 'Show', user %></td
        <td>Reset Password here</td>
        <% if !user.status == "disabled" %>
        <td><%= link_to 'Disable', disable_user_path(user) %></td>
        <% end %>
        <% if !user.status == "OK" %>
        <td><%= link_to 'Restore', restore_user_path(user) %></td>
        <% end %>
        <td><%= link_to 'Delete', terminate_user_path(user) %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
